.okay {
  background-color: #DFDFDF;
}

.output {
  display: none;
}

.deposit {
  display: none;
}

.withdrawal {
  display: none;
}

/* .changingBalance {
  display: none;
} */

.checkingOrSaving {
  display: none;
}
